<div class="card">
    <div class="card-body">
        <h1 class="display-4">Bem-vindo a minha página de teste! </h1>
        <p class="lead">Este é um site que tem como objetivo cadastrar clientes e visualizar os cadastros.</p>
        <hr class="my-4">
        <p>Para fazer seu 1° cadastro, clique no botão abaixo!</p>
        <p class="lead">
            <a class="btn btn-danger btn-lg" href="/admin/cadastros/add" role="button">Cadastrar</a>
        </p>
    </div>
</div>