{{#if sucesso_msg}}
    <div class="alert alert-success" role="alert">
    {{sucesso_msg}}
    </div>
{{/if}}

{{#if erro_msg}}
    <div class="alert alert-danger" role="alert">
    {{erro_msg}}
    </div>
{{/if}}